<li id="conversation">
  <% if message.to == current_user %>
    <b><%= message.from.username %></b></br>
  <% else %>
    <b><%= message.to.username %></b></br>
  <% end %>
  <%= wrap(message.conversation.order("created_at").last.body.truncate(30, separator: ' ')) %>
  <%= link_to "View conversation", chat_message_path(message.id), method: :get %></br>
  <%= link_to "Delete", message_path(message.id), method: :delete, data: { confirm: "You sure?" } %>
</li>