<% provide(:title, 'Chat') %>

<h1><strong>Chat</strong></h1>
<% if @message.to == current_user %>
  <ul id="chat_<%= @message.from.username %>" class="list-group-item list-unstyled round">
    <%= render partial: 'conversation', collection: @conversation %>
  </ul>
<% else %>
  <ul id="chat_<%= @message.to.username %>" class="list-group-item list-unstyled round">
    <%= render partial: 'conversation', collection: @conversation %>
  </ul>
<% end %></br>

<div class="row">
  <div class="col-md-6">
    <%= form_for ActsAsMessageable::Message.new, :url => reply_message_path(@message), :method => :post do |f| %>
      <%= f.text_area :body, class: "form-control special_textarea", :rows => 6 %><br>
      <%= f.submit "Reply", class: "btn btn-default" %>
    <% end %>
  </div>
</div>