<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= form_tag("/users", method: "get") do %>
  <%= label_tag(:query, "Search:") %>
  <%= text_field_tag(:query, params[:query]) %>
  <%= submit_tag("Search", :name => nil) %>
<% end %>

<ul class="users">
    <%= render @users %>
</ul>

<%= paginate @users %>