<% provide(:title, 'Users') %>

<h1><strong>Users</strong></h1>

<%= form_tag("/users", method: "get") do %>
  <h3><%= label_tag(:query, "Search User by Username") %></h3>
  <%= text_field_tag(:query, params[:query], class: "form-control") %><br>
  <%= submit_tag("Search", :name => nil, class: "btn btn-default pull-right") %><br>
<% end %></br>


<ul class="list-group">
  <%= render @users %>
</ul>

<%= paginate @users %>