<% provide(:title, 'Users') %>

<h1><strong>Users</strong></h1>

<div class="row">
  <div class="col-md-3">
    <%= form_tag("/users", method: "get") do %>
      <%= label_tag(:query, "Search User by Username") %>
      <%= text_field_tag(:query, params[:query], class: "form-control special_border") %><br>
      <%= submit_tag("Search", :name => nil, class: "btn btn-default") %><br>
    <% end %></br>
  </div>
</div>

<br>
<ul class="list-group">
  <%= render @users %>
</ul>

<%= paginate @users %>