<% provide(:title, @user.first_name + " " + @user.last_name) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= image_tag @user.avatar.url(:thumb) %>
      <h1><%= @user.first_name %> <%= @user.last_name %></h1>
      <% if !@user.bio.blank? %>
      	<p><%= @user.bio %></p>
      <% end %>
      <% if !@user.city.blank? %>
      	<p><%= @user.city %></p>
      <% end %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'follow_form' if user_signed_in? %>
    <% if @user.textposts.any? %>
      <h3>textposts (<%= @user.textposts.count %>)</h3>
      <ol class="textposts">
        <%= render @textposts %>
      </ol>
      <%= will_paginate @textposts %>
    <% end %>
  </div>
</div>
