<% provide(:title, @title) %>
<div class="row">
  <div class="col-md-4">
    <%= render 'shared/user_info', current_user: @user %>
    <%= render 'shared/stats' %>
  </div>
  <div class="col-md-8">
    <h1><strong><%= @title %></strong></h1>
    <% if @users.any? %>
      <ul class="list-group">
        <%= render @users %>
      </ul>
      <%= paginate @users %>
    <% end %>
  </div>
</div>