<% provide(:title, @user.username) %>
<div class="row">
  <div class="col-md-4">
    <p class="super_font2"><strong><%= link_to @user.username, user_root_path(@user) %></strong></p>
    <p class="pull-left text_space"><%= link_to image_tag(@user.avatar.url(:thumb), class: "round"), user_root_path(@user) %></p>
    <%= render 'users/follow_form' if user_signed_in? %>
    <%= render 'shared/stats' %>
  </div>
  <div class="col-md-8">
    <% if @user.textposts.any? %>
      <ul class="list-unstyled">
        <%= render @textposts %>
      </ul>
      <%= paginate @textposts %>
    <% end %>
  </div>
</div>
