<li id="<%= feed_item.id %>" class="media">
  <span class="pull-left"><%= link_to (image_tag feed_item.user.avatar.url(:thumb), class: "round"), user_root_path(feed_item.user) %></span>
  <div class="media-body">
    <div class="special_background_master"><h3 class="media-heading super_space">
      <strong><%= link_to feed_item.user.username, user_root_path(feed_item.user) %></strong>
    </h3>
    <h4 class="super_space"><strong><%= wrap(feed_item.content) %></strong></h4>
    <%= render 'shared/likers_link', textpost: feed_item %> -
    <%= render 'shared/like_form', textpost: feed_item %> -
    <%= render 'shared/delete_link', each_post: feed_item %>
    <strong>Posted <%= time_ago_in_words(feed_item.created_at) %> ago.</strong></br></div>
    <div class="special_background"><%= render feed_item.comments %></div>
    <%= render 'shared/comment_form', textpost: feed_item %>
  </div>
</li>