<li id="<%= feed_item.id %>">
  <a href="<%= user_root_path(feed_item.user) %>">
  	<%= image_tag feed_item.user.avatar.url(:thumb) %>
  </a>
  <span class="user">
    <%= link_to feed_item.user.first_name + " " + feed_item.user.last_name, user_root_path(feed_item.user) %>
  </span>
  <span class="content"><%= wrap(feed_item.content) %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
  </span>
  <%= render 'shared/delete_link', each_post: feed_item %>
  <%= render feed_item.comments %>
  <%= render 'shared/comment_form', textpost: feed_item %>
</li>