<li class="list-group-item">
  <%= link_to image_tag(liker.avatar.url(:thumb), class: "round"), user_root_path(liker) %>
  <strong class="super_font"><%= link_to liker.username, user_root_path(liker) %></strong> |
  <strong><%= link_to pluralize(liker.textposts.count, "textpost"), user_root_path(liker) %></strong> - 
  <strong><%= link_to "#{liker.followed_users.count} following", following_user_path(liker) %></strong> - 
  <strong><%= link_to "#{liker.followers.count} followers", followers_user_path(liker) %></strong>
</li>