<% @user ||= current_user %>
<div class="clearfix">
  <strong><%= link_to pluralize(@user.textposts.count, "textpost"), user_root_path(@user) %></strong></br>
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat"><%= @user.followed_users.count %></strong><strong> following</strong>
  </a><br>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat"><%= @user.followers.count %></strong><strong> followers</strong>
  </a>
</div>